/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.card-body {
    display: grid;
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-title{
    display: flex;
    justify-content: center;
    align-items:end;
}