*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 2vh;
    background-color:rgb(138, 138, 133);
}

.dropdown-item:hover {
    border-radius: 5px;
    background-color: rgb(225, 225, 220);
    opacity: 1; 
}

.dropdown-menu{
    background-color: beige;
}



a{
    text-decoration: none;
    color: black;
    text-align: center;
} 

nav ul li{
    display: inline-block;
    opacity: 0.8;
    padding: 0 1vw;
}
nav ul li:hover{
    opacity: 1;
}

.name-logo{
    padding: 1vh;
    background-color: black;
    border-radius: 5px;
    
}

.name-title a{
    color: white;
}

.nav-item{
    text-transform: uppercase;
}

.nav-item:hover{
    border-radius: 5px;
    opacity: 1.4;
}

.dropdown-item {
    text-align: center;
}

.dropdown-menu {
    min-width: 80px;  
}

.dropdown-menu li {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
